<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <!--data-remote="true" inside the form tag, which tells Rails to allow the form to be handled by JavaScript-->
    <div><%= hidden_field_tag :followed_id, @user.id %></div>
    <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>