<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
  <!-- render can infer @user is a list of users. When render called with a list of objects,
   Rails automatically iterates through them and renders each one with the _user.html.erb partial. So we don't need (each do) anymore as in the comments-->
  <% if false %> <!-- this is used for commenting embedded ruby code -->
      <% @users.each do |user| %>
          <%= render user %>
      <% end %>
  <% end %>
</ul>

<%= will_paginate %>